/* ------ VARIABLES : BREAKPOINTS ------ */


$sm-screen: 768px;
$md-screen: 992px;
$lg-screen: 1200px;
$hg-screen: 1440px;

@media (min-width: 768px) {
  .container {
    // width: 750px;
    width: 90vw;
  }
}
@media (min-width: 992px) {
  .container {
    // width: 970px;
    width: 85vw;
  }
}
@media (min-width: 1200px) {
  .container {
    // width: 1170px;
    width: 80vw;
  }
}

@media (min-width: 1440px) {
  .container {
    // width: 1170px;
    width: 76vw;
  }
}
