/* ------ VARIABLES : COLORS ------ */

$dark-gray: #10131C;
$medium-gray: #404249;
$light-gray: #F4F4F4;
$neon-orange: #F15156;
$peach-orange: #FFCB96;


$brand-primary: $peach-orange;
$brand-accent: $neon-orange;
