/* ------ VARIABLES : COLORS ------ */

$dark-gray: #3F3F40;
$medium-gray: #9A9A9A;
$light-gray: #F4F4F4;

$dark-blue: #10131C;
$neon-orange: #F15156;
$peach-orange: #FFCB96;


$brand-primary: $peach-orange;
$brand-accent: $neon-orange;

$headers-color: $dark-blue;
