/* ------ VARIABLES : FONTS ------ */


// importing typekit files
@import url("https://use.typekit.net/nix4amn.css");

// settings up font families
$font-family-ambroise: "ambroise-std", serif;
$font-family-benton: "benton-sans", sans-serif;

$body-font: $font-family-benton;
$headers-font: $font-family-ambroise;
$accent-font: $font-family-ambroise;

// setting up font-weight
$font-weight-extrabold: 800;
$font-weight-bold: 700;
$font-weight-normal: 400;
