/* ------ VARIABLES : FONTS ------ */


// importing typekit files
@import url("https://use.typekit.net/nix4amn.css");

// settings up font families
$font-family-escrow: "escrow", serif;
$font-family-benton: "benton-sans", sans-serif;

$body-font: $font-family-benton;
$headers-font: $font-family-escrow;
$accent-font: $font-family-escrow;

// setting up font-weight
$font-weight-extrabold: 800; // escrow
$font-weight-bold: 700; // benton
$font-weight-normal: 400; // escrow & benton
$font-weight-light: 300; // benton
