/* ------ VARIABLES : SPACING ------ */

$margin-x-sm: 1.4rem;
$margin-y-sm: 1.4rem;

$margin-x-md: 1.4rem;
$margin-y-md: 1.4rem;

$margin-x-lg: 1.4rem;
$margin-y-lg: 1.4rem;


$padding-x-sm: 2rem;
$padding-y-sm: 0.6rem;

$padding-x-md: 2.4rem;
$padding-y-md: 0.8rem;

$padding-x-lg: 1.4rem;
$padding-y-lg: 1rem;
