/* ------ PAGES : GENERAL STYLES ------ */

* {
  margin: 0;
}

body {
  font-size: 100%;
  font-family: $body-font;
  color: $medium-gray;
}

p {
  font-size: 1rem;
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
  font-weight: $font-weight-extrabold;
  line-height: 1.625;
  margin: 0px;
  color: $dark-gray;
}

h1 {
  font-size: 4.8rem;
  margin: 1.6rem auto;
}

h2 {
  font-size: 4rem;
  margin: 1.4rem auto;
}

h3 {
  font-size: 3.6rem;
  margin: 1.2rem auto;
}

h4 {
  font-size: 3.2rem;
  margin: 1.2rem auto;
}

h5 {
  font-size: 2.8rem;
  margin: 1.2rem auto;
}

h6 {
  font-size: 2rem;
  margin: 1.2rem auto;
}

.content {
  width: 70%;
  margin:auto;
}


