/* ------ PAGES : HOMEPAGE ------ */

// non logged in user

.banner {
  width: 100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  h3 {
    margin-top: 0px;
  }
}

#homepage-logo {
  width: 50%;
}

#actions {
  width: 30vw;
  a {
    display: block;
  }
}

// logged in user

#all-moods {
  margin: 90px auto 30px;
}

#homepage-title{
  h1 {
    font-size: 8rem;
  }
  h4 {
    color: $dark-blue;
    font-size: 3.5rem;
  }
  p {
    font-size: 2rem;
  }
}

#carousel-container {
  .container p {
    color: $medium-gray;
    text-transform: uppercase;
    font-size: 2.2rem;
  }
}

