/* ------ PAGES : NEW BOOK ------ */


#new-book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include border-large($peach-orange);
  position: relative;
  width: 60%;
  margin: auto;

  h2 {
    margin-top: -40px;
    padding: 4px 12px;
    color: $peach-orange;
    background: white;
  }

  form {
    // flex: 1 0 60%;
    width: 60%;
    margin: auto;
  }

  input {
    width: 100%;
    display: block;
    margin: 5rem auto;
    padding: 2px 10px;
    height: 5rem;
    @include horizontal-border(6px, $peach-orange);
    font-size: 3rem;
  }

  input:active,
  input:hover,
  input:visited,
  input:focus {
    font-family: $headers-font;
    color: $dark-blue;
    font-size: 3rem;
    font-style: italic;
    @include horizontal-border(6px, $dark-blue);
  }

  ::placeholder {
    font-family: $headers-font;
    color: $peach-orange;
    font-size: 3rem;
    font-style: normal !important;
  }

  button {
    margin-bottom: 20px;
    align-self: self-end;
  }

}


#new-book-form {

  .select2 {
    width: 100% !important;
    border: none;
    border-bottom: 3px solid $dark-blue;
    margin-bottom: 4rem;
  }

  .select2 select {
    font-size: 4rem !important;
    border: none !important;
    background: red;
  }

  .select2 input {
    border: none;
    margin-bottom: 2rem;
    height: 2.4rem;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    padding: 6px 16px 3px;
    text-transform: uppercase;
    font-size: 1.8rem;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    font-size: 2.8rem;
  }

}


body#users_books-new > .select2-container--open .select2-dropdown {
  font-size: 1.6rem !important;
  color: $dark-blue;
  @include border-small($peach-orange);
  border-bottom: none;
  text-transform: uppercase;
}

input.select2-search__field {
  width: 100% !important;
  // border: 4px solid red !important;
}


