/* ------ PAGES : SEARCH FOR A BOOK ------ */

#users_books-search_for_a_book {
  min-height:100vh;
  @include border-large($neon-orange);

  .select2 {
    width: 100% !important;
    border: none;
    border-bottom: 3px solid $dark-blue;

    input {
      border: none;
    }

    select {
      font-size: 4rem !important;
      border: none !important;
    }
  }

}


