.text-center {
  text-align: center;
}

.modal-content {
  @include border-large($neon-orange);
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: center;
  color: $medium-gray;
}

.review-modal-content-form{
  padding: 5px;
}

.review-modal-form {
  padding: 5px;
}

.md-border-blue {
  width: 60%;
  margin: 4px auto 24px;
}
.modal-footer {
  border-top: none;
}

ul{
list-style-type:none;
}

.review-modal-container {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: $medium-gray;
}

.review-container {
  display: flex;
  justify-content: center;
}


.modal-accent {
  text-align: center;
}

