<div id="footer">
  <div id="footer-image">
    <%= image_tag "footer_icon.png"%>
  </div>

    <div id="footer-content">
      <div id="footer-links">
        <%= link_to 'contact -', '#' %>
        <%= link_to 'about', '#' %>
      </div>
      <p>made with mucho love by 188's finest people</p>
    </div>
</div>
