

<% unless action_name == "search_for_a_book" || action_name == "results"  %>
  <div id="footer-nav">
    <ul>
      <li>
        <%= link_to "add a new book", new_users_book_path %>
      </li>
      <li>
        <%= link_to "search the next book to read", search_path, class: "cta-big" %>

      </li>
    </ul>
  </div>
<% end %>
