<div id="footer">
  <div id="footer-content">
    <p>made with mucho love by 188's finest people</p>
  </div>

  <div id="footer-links">
    <%= link_to 'contact', '#' %>
    <%= link_to 'about', '#' %>
    <%= link_to 'private policy', '#' %>
  </div>

  <div id="footer-copyright">
    <p>&copy; 2018 - soffie - all rights reserved</p>
  </div>
</div>
