<div id="soffie-logo">
  <%= link_to root_path do %>
    <%= image_tag "logo_blue.png" %>
  <% end %>
</div>

<div id="navbar">
  <button class="profile-button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <span class="menu-bars"><i class="fas fa-bars"></i></span>
  </button>
  <div class="collapse" id="collapseExample">
    <div class="well">
      <h1>hello Claire!</h1>
      <h4>nice to see you</h4>
    </div>
  </div>

</div>
