<div id="navbar">

  <div id="navbar-search">
    search
  </div>

  <div id="navbar-menu">
    <%= link_to 'read a book', '#' %>
    <%= link_to 'add a book', new_users_book_path %>
  </div>

  <div id="navbar-profile">
    <i class="far fa-user-circle"></i>
  </div>
</div>
