<div id="navbar">

  <div id="navbar-profile">

  </div>
  <div id="navbar-search">
    search
  </div>

  <div id="navbar-menu">
    <%= link_to 'read a book', '#' %>
    <%= link_to 'add a book', '#' %>
  </div>
</div>
