<div class="banner">

  <div id="brand">
  <%= image_tag "soffie_logo_blue.png", id: "homepage-logo" %>
  <h3>your next book is already in your pile</h3>
  </div>

  <div id="actions">
    <%= link_to "Go on, sign up!", new_user_registration_path, class: "button-peach" %>
    <%= link_to "log in", new_user_session_path, class: "button-border-peach" %>
  </div>
</div>



