<h1> welcome back, <%= current_user.first_name%></h1>

<!-- Image Carousel -->
<div class="your-class">
  <div> Your Content 1 </div>
  <div> Your Content 2</div>
  <div> Your Content 3</div>
  <div> Your Content 4</div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
</div>


