<h1> welcome back, <%= current_user.first_name%></h1>

<!-- Image Carousel -->

<%= link_to "add a book to your pile", new_users_book_path %>

<!-- Add search route -->
<%#= link_to "search for your next read", ANCHOR_URL %>
