/* ------ COMPONENTS : ALERTS & NOTICES ------ */


.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $peach-orange;
}
.alert-warning {
  background: $neon-orange;
}
