/* ------ COMPONENTS : BUTTONS ------ */


.button {
  padding: $padding-y-sm $padding-x-sm;
  background: $medium-gray;
  color: white;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  @include border-medium($medium-gray);

  &:hover {
    background: white;
    color: $medium-gray;
  }
}

.button-border {
  padding: $padding-y-sm $padding-x-sm;
  background: white;
  color: $neon-orange;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  @include border-medium($neon-orange);
}

.cta {
  border-bottom: 4px solid $dark-gray;
  color: $dark-gray;
  font-family: $headers-font;
  font-weight: $font-weight-extrabold;
}
