/* ------ COMPONENTS : BUTTONS ------ */


.button-neon {
  @include button-primary($neon-orange);
  padding: $padding-y-sm $padding-x-sm;
  color: white;

  &:hover {
    background: white;
  }
}

.button-peach {
  @include button-primary($peach-orange);
  padding: $padding-y-sm $padding-x-sm;
  color: white;

  &:hover {
    background: white;
  }
}

.button-border-peach {
  @include button-border($peach-orange);
  padding: $padding-y-sm $padding-x-sm;
}

.button-border-neon {
  @include button-border($neon-orange);
  padding: $padding-y-sm $padding-x-sm;
}

.button-border-blue {
  @include button-border($dark-blue);
  padding: $padding-y-sm $padding-x-sm;
}

.cta {
  display: inline-block;
  border-bottom: 4px solid $dark-gray;
  color: $dark-gray;
  font-family: $headers-font;
  font-weight: $font-weight-extrabold;
}
