/* ------ COMPONENTS : BUTTONS ------ */


.button-neon {
  @include button-primary($neon-orange);
  padding: $padding-y-sm $padding-x-sm;
  color: white;

  &:hover {
    background: white;
  }
}

.button-peach {
  @include button-primary($peach-orange);
  padding: $padding-y-sm $padding-x-sm;
  color: white;

  &:hover {
    background: white;
  }
}

.button-blue {
  @include button-primary($dark-blue);
  padding: $padding-y-sm $padding-x-sm;
  color: white;

  &:hover {
    background: white;
  }
}

.button-border-peach {
  @include button-border($peach-orange);
  padding: $padding-y-sm $padding-x-sm;
}

.button-border-neon {
  @include button-border($neon-orange);
  padding: $padding-y-sm $padding-x-sm;
}


.button-border-peach {
  @include button-border($peach-orange);
  padding: $padding-y-sm $padding-x-sm;
}


.button-border-blue {
  @include button-border($dark-blue);
  padding: $padding-y-sm $padding-x-sm;
}

.cta-neon {
  @include cta(6px, $neon-orange, $dark-blue);
  font-style: italic;
}


.cta-big {
  @include cta(12px, $dark-blue, $dark-blue);
  font-size: 4.8rem;
  transition: all 0.2s ease;
  &:hover {
    color: $neon-orange;
    border-bottom: 12px solid $neon-orange;
  }
}

.cta-md {
  @include cta(4px, $dark-blue, $dark-blue);
  font-size: 2.6rem;
  transition: all 0.2s ease;
  &:hover {
    color: $neon-orange;
    border-bottom: 4px solid $neon-orange;
  }
}

.cta-big-white {
  @include cta(12px, white, white);
  font-size: 4.8rem;
  transition: all 0.2s ease;
  &:hover {
    color: $peach-orange;
    border-bottom: 12px solid $peach-orange;
  }
}

.form-big-cta {
  border-bottom: 4px solid white;
  &:hover {
    border-bottom: 4px solid $dark-blue;
  }
}

.share-icons {
  @include cta(4px, $dark-blue, $dark-blue);
  background: none;
  border: none;
}

