/* ------ COMPONENTS : CAROUSEL ------ */


#carousel-container {
  background: $light-gray;
  margin-top: 20px;
  margin-bottom: 40px;
}

.book-carousel {
  position:relative;
  width: 80%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.carousel-nav {
  position: absolute;
  display: block;
  color: $dark-blue;
  font-size: 4rem;
  top: 45%;
  cursor: pointer;
}

.fa-angle-right {
  right: -8%;
}

.fa-angle-left {
  left: -8%;
}

@media (min-width: $sm-screen) {
} // end of sm-screen

@media (min-width: $md-screen) {
  .carousel-nav {
    font-size: 8rem;
    top: 40%;
  }

  .fa-angle-right {
    right: -5%;
  }

  .fa-angle-left {
    left: -5%;
  }
} // end of md-screen

@media (min-width: $lg-screen) {
} // end of lg-screen

@media (min-width: $hg-screen) {
} // end of hg-screen




