/* ------ COMPONENTS : FOOTER ------ */

#footer {

  p {
    font-size: 1.2rem;
    margin-top: 0.6rem;
  }
}

#footer-image {
  position: fixed;
  left: -30px;
  bottom: -10px;
  z-index:-1;
}

#footer-content {
  z-index: -1;
  position: fixed;
  bottom: -50px;
  left: 14px;
  transform: rotate(-90deg);
  transform-origin: top left;
}

#footer-links {
  a {
    font-family: $headers-font;
    color: $dark-blue;
    font-style: italic;
    font-size: 1.8rem;
  }
}
