/* ------ COMPONENTS : NAVBAR ------ */


#soffie-logo {
  // position:absolute;
  margin-left: 22px;
  margin-top: 22px;
  img {
    width: 70px;
    height: 70px;
  }
}

.hidden {
  display: none;
}

#menu-container {
  position: fixed;
  top:0;
  left: 0;
  height:100vh;
  width: 100vw;
  background: $dark-blue;
  color: white;
  z-index: 5;
}
#menu-content {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: space-between !important;
  // max-width: 90%;
  // margin: auto;
}

#menu-header {
  h1, h4 {
    color: white;
  }
}

#menu-actions {
  ul {
    list-style: none;
  }
  a.cta-big-white {
    color: white;
    @include horizontal-border(6px, white);
  }
}

#menu-footer {
  position: fixed;
  bottom: 0px;
  left: 14px;
  transform: rotate(-90deg);
  transform-origin: top left;
  a {
    font-family: $headers-font;
    color: white;
    font-style: italic;
    font-size: 1.8rem;
  }
}

#navbar {
  // background: $light-gray;
  // display: flex;
  // justify-content: space-between;

  .profile-button {
    border: none;
    position: fixed;
    right: 0;
    top: 80px;
    background: $dark-blue;
    width: 60px;
    height: 52px;

  }
  .menu-bars {

  }
  .menu-bars i{
    color: white;
    font-size: 2.4rem;
    padding-right: 8px;
  }
}

