/* ------ COMPONENT : NEW MOOD ------ */



#new-mood-modal {
  .modal-content {
  border-radius: 0px;
  @include border-large($peach-orange);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
  }
}

form#mood-modal-form {
    input {
    width: 100%;
    display: block;
    margin: 5rem auto;
    padding: 2px 10px;
    height: 5rem;
    @include horizontal-border(6px, $peach-orange);
    font-size: 3rem;
  }

  ::placeholder {
    font-family: $headers-font;
    color: $peach-orange;
    font-size: 3rem;
    font-style: normal !important;
  }

}
  #mood-modal-form li.select2-search.select2-search--inline {
    width: 100%;
  }
