#soffie-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #FFCB96;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

  #soffie-update-form {
    position: fixed;
    bottom:100px;
    right: 100px;
    border-radius: 50%;
    background-color: #F4F4F4;
    width: 210px;
    height: 210px;
    font-size: 0.5rem;
    overflow-y: scroll;
  }

.hidden {
  display: none;
  }

#soffie-icon {
  height: 53px;
  width: 70px;
}
