#soffie-button {
  position: fixed;
  bottom: 6vh;
  right: 4vw;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: $peach-orange;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

  #soffie-update-form {
    position: fixed;
    bottom:12vh;
    right: 10vw;
    border-radius: 50%;
    background-color: $light-gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 310px;
    height: 310px;
    // font-size: 0.5rem;
    overflow-y: scroll;
    padding: 30px;

    form input {
      width: 80%;
      margin: auto;
      text-align: center;
    }

  }

.hidden {
  display: none;
  }

#soffie-icon {
  height: 53px;
  width: 70px;
}
