<div class="container">
  <div class="row">
    <% if policy(Users_book).create? %>
      <div class='text-center'>
        <h3>add a new book</h3>
      </div>
      <%= render "form" %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </div>
</div>
