<form action="<%= users_books_path %>" method='post'>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name='query'>
  <input type="submit">
</form>

<h3>add a new book</h3>
<p><%#= render "form" %></p>
