<h1>hello from search page</h1>

<%= simple_form_for(@book) do |f| %>

<%= f.input :categories, class: "js-example-basic-multiple", as: :select, collection: Category::CATEGORIES_LIST %>

<% end %>

<!-- <script>
  $(document).ready(function() {
    if ($('#users_book_categories')) {
      $('#users_book_categories').select2({
      multiple: "multiple"
      });
    }
  });
</script> -->


<%= javascript_pack_tag 'select2' %>
