<p>Title: <%= @user_book.title %></p>
<p>Author: <%= @user_book.author %></p>
<p>description: <%= simple_format(@user_book.description) %></p>
<p><%= @user_book.num_pages %> pages</p>
<br>
# <!-- <= image_tag @user_book.image_url %> -->


