@mixin border-small($color) {
  border-color: $color;
  border-width: 1px;
  border-style: solid;
}

@mixin border-medium($color) {
  border-color: $color;
  border-width: 4px;
  border-style: solid;
}

@mixin border-big($color) {
  border-color: $color;
  border-width: 6px;
  border-style: solid;
}


@mixin border-large($color) {
  border-color: $color;
  border-width: 12px;
  border-style: solid;
}

@mixin border-huge($color) {
  border-color: $color;
  border-width: 18px;
  border-style: solid;
}

@mixin horizontal-border($width,$color) {
  border-bottom: $width solid $color;
}
