
@mixin button-primary($color) {
  background: $color;
  display: inline-block;
  text-transform: uppercase;
  transition: background 0.2s ease-in-out;
  font-weight: 700;
  @include border-medium($color);

  &:hover {
    background: white;
    color: $color;
    text-decoration: none;
  }
}

@mixin button-border($color) {
  display: inline-block;
  background: white;
  color: $color;
  font-weight: 700;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  @include border-medium($color);
    &:hover {
    color: white;
    background: $color;
  }

}
