<div class="container">
  <div id="new-review-form">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <%= simple_form_for [@users_book, @review] do |f| %>
            <div class="review-modal-rating-form">
            <%= f.input :rating, collection: 0..5, label: 'rating' %>
            </div>
            <div class="review-modal-content-form">

            <%= f.input :content, :input_html => {:rows => 5}, label: false, placeholder: 'your review' %>
            </div>

          <div class="review-modal-button">
          <%= f.submit class: 'btn btn-primary' %>
          </div>
        <% end %>

      </div >
  </div >
</div>
<!--
<div class="form-group select optional review_rating"><label class="form-control-label select optional" for="review_rating">rating</label><select class="form-control select optional" name="review[rating]" id="review_rating"><option value=""></option>
<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option></select></div>


 -->
