<div id="new-add-book-user-form">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <%= simple_form_for [@users_book, @review] do |f| %>
          <div >
          <%= f.input :content %>
          <%= f.input :rating, collection: 0..5  %>
          </div>
        <div >
        <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
</div>
